.video-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.video-list li {
  list-style: none;
  max-width: 320px;
  margin-bottom: 40px;
}
.video-list li .video-infomation {
}
.video-list li .video-infomation h3 {
  font-size: 16px;
  margin: 12px 0;
}
.video-list li .video-infomation p {
  margin: 4px 0;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 0 20px;
  background-color: #212121;
  color: #fff;
}
